*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  width: 100%;
  height: 45em;
  background-image: url('images/Headerfootball.jpg');
  background-size: cover;
  position: relative;
}
div ul li{
  margin: 0 15px;
}
.unique{
  margin: 0;
  transition: 0.5s;
}
.unique:hover{
  transform: scale(1.3);
}
div ul li a b:hover{
  background: #00004f;
  color: #9C4B00;
  padding: 10px;
  border-radius: 20px;
}

div ul li a b{
  transition: 0.5s;
  transition-timing-function:ease;
}
div ul{
  margin:auto;
}
#header-paragraph{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  color:#9C4B00;
}
#container{
  background: #010124;
}
#coaches-core{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: (200px,auto);
  /* grid-gap: 10px; */
  background: #00004f;
  padding: 15px 0 0 0 ;
}
#coaches-core div{
  padding: 20px 0 0 0;
}
@media screen and (max-width:767px){
  #coaches-core{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  #coaches-core div img{
    width: 50%;
    height: 30%;
  }
}



#footer{
  background: #9C4B00;
  padding-bottom: 1px;

}
#logo-up{
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
#logo-down{
  margin: 0 auto;
  width: 15%;
  display: flex;
  justify-content: space-around;
}