*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  width: 100%;
  height: 45em;
  background-image: url('images/Headerfootball.jpg');
  background-size: cover;
  position: relative;
}
div ul li{
  margin: 0 15px;
}
.unique{
  margin: 0;
  transition: 0.5s;
}
.unique:hover{
  transform: scale(1.3);
}
div ul li a b:hover{
  background: #00004f;
  color: #9C4B00;
  padding: 10px;
  border-radius: 20px;
}

div ul li a b{
  transition: 0.5s;
  transition-timing-function:ease;
}
div ul{
  margin:auto;
}
#header-paragraph{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  color:#9C4B00;
}
#container{
  background: #010124;
  min-height:500px;
}
#contact_us-core{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  
}
#right{
  width: 45%;
}
form{
  /* width: 150%;
  height: 100%; */
  background: #00004f;
  border-radius: 20px;
}
form input{
  padding: 5px;
  background: #010124;
  border: none;
  margin-top: 20px;
  height: 45px;
  border-radius: 3px;
  width: 90%;
}
#message{
  height: 100px;
}

form input[type="submit"]{
  margin-bottom: 20px;
  background: blue;
  color: #fff;
  width: fit-content;
  font-size: 20px;
  transition: 0.5s;
}
form input[type="submit"]:hover{
  color: #9C4B00;
  background: #010124;
  /* transform: scale(1.1); */
  width: fit-content;
  font-size: 22px;
}
#left{
  width: 45%;
  margin-top: 5em;
}
#connect_with_us{
  margin-bottom: 1em;
}

#footer{
  background: #9C4B00;
  padding-bottom: 1px;

}
#logo-up{
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
#logo-down{
  margin: 0 auto;
  width: 15%;
  display: flex;
  justify-content: space-around;
}

#insta {
    margin: 15px 15px 0 0;
    color: black;
  }
  
#face {
    margin: 15px 0 0 15px;
    color: black;
  }
  #footer p {
    color: red;
  }